/* .background_image_stories{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGz98ppsVfa9QR-3zT8tBQ5wAftTMaMKgizoxU734do8EbtyN8&usqp=CAU');
    height:91vh;
} */
.title_hero{
    font-family: 'Comic Neue', cursive;
}
.link_hero{
    font-family: 'Comic Neue', cursive;
}